<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>༼ つ ◕_◕ ༽つ</string>
		<key>shortcut</key>
		<string>::praise::</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>::shrug::</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∵</string>
		<key>shortcut</key>
		<string>&lt;because&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>&lt;beta&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∁</string>
		<key>shortcut</key>
		<string>&lt;comp&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∋</string>
		<key>shortcut</key>
		<string>&lt;contains&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>&lt;element&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∅</string>
		<key>shortcut</key>
		<string>&lt;emptyset&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∃</string>
		<key>shortcut</key>
		<string>&lt;exists&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>&lt;forall&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>&lt;gte&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∞</string>
		<key>shortcut</key>
		<string>&lt;infinity&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩</string>
		<key>shortcut</key>
		<string>&lt;intersect&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>&lt;lte&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>&lt;mu&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∌</string>
		<key>shortcut</key>
		<string>&lt;notcontain&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∉</string>
		<key>shortcut</key>
		<string>&lt;notelement&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>&lt;notequal&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∄</string>
		<key>shortcut</key>
		<string>&lt;notexist&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>φ</string>
		<key>shortcut</key>
		<string>&lt;phi&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∏</string>
		<key>shortcut</key>
		<string>&lt;product&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:pm1::pm2::pm3: :pm4::pm5::pm6:</string>
		<key>shortcut</key>
		<string>&lt;pusrue&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>®</string>
		<key>shortcut</key>
		<string>&lt;rights&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>&lt;shrug&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>&lt;sigma&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>수현</string>
		<key>shortcut</key>
		<string>&lt;su&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂</string>
		<key>shortcut</key>
		<string>&lt;subset&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑</string>
		<key>shortcut</key>
		<string>&lt;sum&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊃</string>
		<key>shortcut</key>
		<string>&lt;superset&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∴</string>
		<key>shortcut</key>
		<string>&lt;therefore&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>&lt;theta&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Θ</string>
		<key>shortcut</key>
		<string>&lt;Theta&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∪</string>
		<key>shortcut</key>
		<string>&lt;union&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
</array>
</plist>
